//
// Class240HourHourlyForecastAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech

import Foundation
import Combine
import OpenAPITransport


open class Class240HourHourlyForecastAPI {
    private let transport: OpenAPITransport
    public var encoder: JSONEncoder = {
        let encoder = JSONEncoder()
        encoder.dateEncodingStrategy = .formatted(OpenISO8601DateFormatter())
        return encoder
    }()
    public var decoder: JSONDecoder = {
        let decoder = JSONDecoder()
        decoder.dateDecodingStrategy = .formatted(OpenISO8601DateFormatter())
        return decoder
    }()
    public var baseURL = URL(string: "https://api.weatherbit.io/v2.0")

    public init(_ transport: OpenAPITransport) {
        self.transport = transport
    }

    ///
    /// Enum for parameter units
    ///
    public enum ForecastHourlycityIdcityIdGetUnits: String, Codable, CaseIterable {
        case s = "S"
        case i = "I"
    }
    ///
    /// Enum for parameter lang
    ///
    public enum ForecastHourlycityIdcityIdGetLang: String, Codable, CaseIterable {
        case ar = "ar"
        case az = "az"
        case be = "be"
        case bg = "bg"
        case bs = "bs"
        case ca = "ca"
        case cs = "cs"
        case de = "de"
        case fi = "fi"
        case fr = "fr"
        case el = "el"
        case es = "es"
        case et = "et"
        case hr = "hr"
        case hu = "hu"
        case id = "id"
        case it = "it"
        case _is = "is"
        case kw = "kw"
        case nb = "nb"
        case nl = "nl"
        case pl = "pl"
        case pt = "pt"
        case ro = "ro"
        case ru = "ru"
        case sk = "sk"
        case sl = "sl"
        case sr = "sr"
        case sv = "sv"
        case tr = "tr"
        case uk = "uk"
        case zh = "zh"
        case zhTw = "zh-tw"
    }

    /// Returns an hourly forecast - Given a City ID.
    /// - GET /forecast/hourly?city_id={city_id}
    /// -  Returns an hourly forecast, where each point represents a one hour   period. Every point has a datetime string in the format \"YYYY-MM-DD:HH\". Time is UTC.  
    /// - parameter cityId: (path) City ID. Example: 4487042 
    /// - parameter key: (query) Your registered API key. 
    /// - parameter units: (query) Convert to units. Default Metric See &lt;a target&#x3D;&#39;blank&#39; href&#x3D;&#39;/api/requests&#39;&gt;units field description&lt;/a&gt; (optional)
    /// - parameter lang: (query) Language (Default: English) See &lt;a target&#x3D;&#39;blank&#39; href&#x3D;&#39;/api/requests&#39;&gt;language field description&lt;/a&gt; (optional)
    /// - parameter callback: (query) Wraps return in jsonp callback. Example - callback&#x3D;func (optional)
    /// - parameter hours: (query) Number of hours to return. (optional)
    /// - returns: AnyPublisher<ForecastHourly, Error> 
    open func forecastHourlycityIdcityIdGet(cityId: Int, key: String, units: ForecastHourlycityIdcityIdGetUnits? = nil, lang: ForecastHourlycityIdcityIdGetLang? = nil, callback: String? = nil, hours: Int? = nil) -> AnyPublisher<ForecastHourly, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var path = "/forecast/hourly?city_id&#x3D;{city_id}"
                path = path.replacingOccurrences(of: "{city_id}", with: "\(cityId)")
                let url = baseURL.appendingPathComponent(path)
                var components = URLComponents(url: url, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                if let units = units { queryItems.append(URLQueryItem(name: "units", value: units.rawValue)) } 
                if let lang = lang { queryItems.append(URLQueryItem(name: "lang", value: lang.rawValue)) } 
                if let callback = callback { queryItems.append(URLQueryItem(name: "callback", value: callback)) } 
                if let hours = hours { queryItems.append(URLQueryItem(name: "hours", value: "\(hours)")) } 
                queryItems.append(URLQueryItem(name: "key", value: key))
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<ForecastHourly, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(ForecastHourly.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    ///
    /// Enum for parameter units
    ///
    public enum ForecastHourlycitycitycountrycountryGetUnits: String, Codable, CaseIterable {
        case s = "S"
        case i = "I"
    }
    ///
    /// Enum for parameter lang
    ///
    public enum ForecastHourlycitycitycountrycountryGetLang: String, Codable, CaseIterable {
        case ar = "ar"
        case az = "az"
        case be = "be"
        case bg = "bg"
        case bs = "bs"
        case ca = "ca"
        case cs = "cs"
        case de = "de"
        case fi = "fi"
        case fr = "fr"
        case el = "el"
        case es = "es"
        case et = "et"
        case hr = "hr"
        case hu = "hu"
        case id = "id"
        case it = "it"
        case _is = "is"
        case kw = "kw"
        case nb = "nb"
        case nl = "nl"
        case pl = "pl"
        case pt = "pt"
        case ro = "ro"
        case ru = "ru"
        case sk = "sk"
        case sl = "sl"
        case sr = "sr"
        case sv = "sv"
        case tr = "tr"
        case uk = "uk"
        case zh = "zh"
        case zhTw = "zh-tw"
    }

    /// Returns an hourly forecast - Given City and/or State, Country.
    /// - GET /forecast/hourly?city={city}&country={country}
    /// -  Returns an hourly forecast, where each point represents a one hour   period. Every point has a datetime string in the format \"YYYY-MM-DD:HH\". Time is UTC. Accepts a city in the format of City,ST or City. The state, and country parameters can be provided to make the search more accurate. 
    /// - parameter city: (path) City search.. Example - &amp;city&#x3D;Raleigh,NC or &amp;city&#x3D;Berlin,DE or city&#x3D;Paris&amp;country&#x3D;FR 
    /// - parameter country: (path) Country Code (2 letter). 
    /// - parameter key: (query) Your registered API key. 
    /// - parameter state: (query) Full name of state. (optional)
    /// - parameter units: (query) Convert to units. Default Metric See &lt;a target&#x3D;&#39;blank&#39; href&#x3D;&#39;/api/requests&#39;&gt;units field description&lt;/a&gt; (optional)
    /// - parameter lang: (query) Language (Default: English) See &lt;a target&#x3D;&#39;blank&#39; href&#x3D;&#39;/api/requests&#39;&gt;language field description&lt;/a&gt; (optional)
    /// - parameter callback: (query) Wraps return in jsonp callback. Example: callback&#x3D;func (optional)
    /// - parameter hours: (query) Number of hours to return. (optional)
    /// - returns: AnyPublisher<ForecastHourly, Error> 
    open func forecastHourlycitycitycountrycountryGet(city: String, country: String, key: String, state: String? = nil, units: ForecastHourlycitycitycountrycountryGetUnits? = nil, lang: ForecastHourlycitycitycountrycountryGetLang? = nil, callback: String? = nil, hours: Int? = nil) -> AnyPublisher<ForecastHourly, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var path = "/forecast/hourly?city&#x3D;{city}&amp;country&#x3D;{country}"
                path = path.replacingOccurrences(of: "{city}", with: city)
                path = path.replacingOccurrences(of: "{country}", with: country)
                let url = baseURL.appendingPathComponent(path)
                var components = URLComponents(url: url, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                if let state = state { queryItems.append(URLQueryItem(name: "state", value: state)) } 
                if let units = units { queryItems.append(URLQueryItem(name: "units", value: units.rawValue)) } 
                if let lang = lang { queryItems.append(URLQueryItem(name: "lang", value: lang.rawValue)) } 
                if let callback = callback { queryItems.append(URLQueryItem(name: "callback", value: callback)) } 
                if let hours = hours { queryItems.append(URLQueryItem(name: "hours", value: "\(hours)")) } 
                queryItems.append(URLQueryItem(name: "key", value: key))
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<ForecastHourly, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(ForecastHourly.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    ///
    /// Enum for parameter units
    ///
    public enum ForecastHourlylatlatlonlonGetUnits: String, Codable, CaseIterable {
        case s = "S"
        case i = "I"
    }
    ///
    /// Enum for parameter lang
    ///
    public enum ForecastHourlylatlatlonlonGetLang: String, Codable, CaseIterable {
        case ar = "ar"
        case az = "az"
        case be = "be"
        case bg = "bg"
        case bs = "bs"
        case ca = "ca"
        case cs = "cs"
        case de = "de"
        case fi = "fi"
        case fr = "fr"
        case el = "el"
        case es = "es"
        case et = "et"
        case hr = "hr"
        case hu = "hu"
        case id = "id"
        case it = "it"
        case _is = "is"
        case kw = "kw"
        case nb = "nb"
        case nl = "nl"
        case pl = "pl"
        case pt = "pt"
        case ro = "ro"
        case ru = "ru"
        case sk = "sk"
        case sl = "sl"
        case sr = "sr"
        case sv = "sv"
        case tr = "tr"
        case uk = "uk"
        case zh = "zh"
        case zhTw = "zh-tw"
    }

    /// Returns an hourly forecast - Given a lat/lon.
    /// - GET /forecast/hourly?lat={lat}&lon={lon}
    /// - Returns an hourly forecast, where each point represents a one hour period. Every point has a datetime string in the format \"YYYY-MM-DD:HH\". Time is UTC.  
    /// - parameter lat: (path) Latitude component of location. 
    /// - parameter lon: (path) Longitude component of location. 
    /// - parameter key: (query) Your registered API key. 
    /// - parameter units: (query) Convert to units. Default Metric See &lt;a target&#x3D;&#39;blank&#39; href&#x3D;&#39;/api/requests&#39;&gt;units field description&lt;/a&gt; (optional)
    /// - parameter lang: (query) Language (Default: English) See &lt;a target&#x3D;&#39;blank&#39; href&#x3D;&#39;/api/requests&#39;&gt;language field description&lt;/a&gt; (optional)
    /// - parameter callback: (query) Wraps return in jsonp callback. Example - callback&#x3D;func (optional)
    /// - parameter hours: (query) Number of hours to return. (optional)
    /// - returns: AnyPublisher<ForecastHourly, Error> 
    open func forecastHourlylatlatlonlonGet(lat: Double, lon: Double, key: String, units: ForecastHourlylatlatlonlonGetUnits? = nil, lang: ForecastHourlylatlatlonlonGetLang? = nil, callback: String? = nil, hours: Int? = nil) -> AnyPublisher<ForecastHourly, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var path = "/forecast/hourly?lat&#x3D;{lat}&amp;lon&#x3D;{lon}"
                path = path.replacingOccurrences(of: "{lat}", with: "\(lat)")
                path = path.replacingOccurrences(of: "{lon}", with: "\(lon)")
                let url = baseURL.appendingPathComponent(path)
                var components = URLComponents(url: url, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                if let units = units { queryItems.append(URLQueryItem(name: "units", value: units.rawValue)) } 
                if let lang = lang { queryItems.append(URLQueryItem(name: "lang", value: lang.rawValue)) } 
                if let callback = callback { queryItems.append(URLQueryItem(name: "callback", value: callback)) } 
                queryItems.append(URLQueryItem(name: "key", value: key))
                if let hours = hours { queryItems.append(URLQueryItem(name: "hours", value: "\(hours)")) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<ForecastHourly, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(ForecastHourly.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    ///
    /// Enum for parameter units
    ///
    public enum ForecastHourlypostalCodepostalCodeGetUnits: String, Codable, CaseIterable {
        case s = "S"
        case i = "I"
    }
    ///
    /// Enum for parameter lang
    ///
    public enum ForecastHourlypostalCodepostalCodeGetLang: String, Codable, CaseIterable {
        case ar = "ar"
        case az = "az"
        case be = "be"
        case bg = "bg"
        case bs = "bs"
        case ca = "ca"
        case cs = "cs"
        case de = "de"
        case fi = "fi"
        case fr = "fr"
        case el = "el"
        case es = "es"
        case et = "et"
        case hr = "hr"
        case hu = "hu"
        case id = "id"
        case it = "it"
        case _is = "is"
        case kw = "kw"
        case nb = "nb"
        case nl = "nl"
        case pl = "pl"
        case pt = "pt"
        case ro = "ro"
        case ru = "ru"
        case sk = "sk"
        case sl = "sl"
        case sr = "sr"
        case sv = "sv"
        case tr = "tr"
        case uk = "uk"
        case zh = "zh"
        case zhTw = "zh-tw"
    }

    /// Returns an hourly forecast - Given a Postal Code.
    /// - GET /forecast/hourly?postal_code={postal_code}
    /// -  Returns an hourly forecast, where each point represents a one hour   period. Every point has a datetime string in the format \"YYYY-MM-DD:HH\". Time is UTC.  
    /// - parameter postalCode: (path) Postal Code. Example: 28546 
    /// - parameter key: (query) Your registered API key. 
    /// - parameter country: (query) Country Code (2 letter). (optional)
    /// - parameter units: (query) Convert to units. Default Metric See &lt;a target&#x3D;&#39;blank&#39; href&#x3D;&#39;/api/requests&#39;&gt;units field description&lt;/a&gt; (optional)
    /// - parameter lang: (query) Language (Default: English) See &lt;a target&#x3D;&#39;blank&#39; href&#x3D;&#39;/api/requests&#39;&gt;language field description&lt;/a&gt; (optional)
    /// - parameter callback: (query) Wraps return in jsonp callback. Example - callback&#x3D;func (optional)
    /// - parameter hours: (query) Number of hours to return. (optional)
    /// - returns: AnyPublisher<ForecastHourly, Error> 
    open func forecastHourlypostalCodepostalCodeGet(postalCode: Int, key: String, country: String? = nil, units: ForecastHourlypostalCodepostalCodeGetUnits? = nil, lang: ForecastHourlypostalCodepostalCodeGetLang? = nil, callback: String? = nil, hours: Int? = nil) -> AnyPublisher<ForecastHourly, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var path = "/forecast/hourly?postal_code&#x3D;{postal_code}"
                path = path.replacingOccurrences(of: "{postal_code}", with: "\(postalCode)")
                let url = baseURL.appendingPathComponent(path)
                var components = URLComponents(url: url, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                if let country = country { queryItems.append(URLQueryItem(name: "country", value: country)) } 
                if let units = units { queryItems.append(URLQueryItem(name: "units", value: units.rawValue)) } 
                if let lang = lang { queryItems.append(URLQueryItem(name: "lang", value: lang.rawValue)) } 
                if let callback = callback { queryItems.append(URLQueryItem(name: "callback", value: callback)) } 
                if let hours = hours { queryItems.append(URLQueryItem(name: "hours", value: "\(hours)")) } 
                queryItems.append(URLQueryItem(name: "key", value: key))
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<ForecastHourly, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(ForecastHourly.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }
}
