//
// ForecastDegreeDayAPIAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech

import Foundation
import Combine
import OpenAPITransport


open class ForecastDegreeDayAPIAPI {
    private let transport: OpenAPITransport
    public var encoder: JSONEncoder = {
        let encoder = JSONEncoder()
        encoder.dateEncodingStrategy = .formatted(OpenISO8601DateFormatter())
        return encoder
    }()
    public var decoder: JSONDecoder = {
        let decoder = JSONDecoder()
        decoder.dateDecodingStrategy = .formatted(OpenISO8601DateFormatter())
        return decoder
    }()
    public var baseURL = URL(string: "https://api.weatherbit.io/v2.0")

    public init(_ transport: OpenAPITransport) {
        self.transport = transport
    }

    ///
    /// Enum for parameter units
    ///
    public enum ForecastEnergylatlatlonlonGetUnits: String, Codable, CaseIterable {
        case s = "S"
        case i = "I"
    }
    ///
    /// Enum for parameter tp
    ///
    public enum ForecastEnergylatlatlonlonGetTp: String, Codable, CaseIterable {
        case hourly = "hourly"
        case daily = "daily"
    }

    /// Returns Energy Forecast API response  - Given a single lat/lon. 
    /// - GET /forecast/energy?lat={lat}&lon={lon}
    /// - Retrieve an 8 day forecast relevant to te Energy Sector (degree days, solar radiation, precipitation, wind).
    /// - parameter lat: (path) Latitude component of location. 
    /// - parameter lon: (path) Longitude component of location. 
    /// - parameter key: (query) Your registered API key. 
    /// - parameter threshold: (query) Temperature threshold to use to calculate degree days (default 18 C)  (optional)
    /// - parameter units: (query) Convert to units. Default Metric See &lt;a target&#x3D;&#39;blank&#39; href&#x3D;&#39;/api/requests&#39;&gt;units field description&lt;/a&gt; (optional)
    /// - parameter tp: (query) Time period (default: daily) (optional)
    /// - parameter callback: (query) Wraps return in jsonp callback. Example: callback&#x3D;func (optional)
    /// - returns: AnyPublisher<EnergyObsGroupForecast, Error> 
    open func forecastEnergylatlatlonlonGet(lat: Double, lon: Double, key: String, threshold: Double? = nil, units: ForecastEnergylatlatlonlonGetUnits? = nil, tp: ForecastEnergylatlatlonlonGetTp? = nil, callback: String? = nil) -> AnyPublisher<EnergyObsGroupForecast, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var path = "/forecast/energy?lat&#x3D;{lat}&amp;lon&#x3D;{lon}"
                path = path.replacingOccurrences(of: "{lat}", with: "\(lat)")
                path = path.replacingOccurrences(of: "{lon}", with: "\(lon)")
                let url = baseURL.appendingPathComponent(path)
                var components = URLComponents(url: url, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                if let threshold = threshold { queryItems.append(URLQueryItem(name: "threshold", value: "\(threshold)")) } 
                if let units = units { queryItems.append(URLQueryItem(name: "units", value: units.rawValue)) } 
                if let tp = tp { queryItems.append(URLQueryItem(name: "tp", value: tp.rawValue)) } 
                if let callback = callback { queryItems.append(URLQueryItem(name: "callback", value: callback)) } 
                queryItems.append(URLQueryItem(name: "key", value: key))
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<EnergyObsGroupForecast, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(EnergyObsGroupForecast.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }
}
