//
// HistoricalDegreeDayAPIAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech

import Foundation
import Combine
import OpenAPITransport


open class HistoricalDegreeDayAPIAPI {
    private let transport: OpenAPITransport
    public var encoder: JSONEncoder = {
        let encoder = JSONEncoder()
        encoder.dateEncodingStrategy = .formatted(OpenISO8601DateFormatter())
        return encoder
    }()
    public var decoder: JSONDecoder = {
        let decoder = JSONDecoder()
        decoder.dateDecodingStrategy = .formatted(OpenISO8601DateFormatter())
        return decoder
    }()
    public var baseURL = URL(string: "https://api.weatherbit.io/v2.0")

    public init(_ transport: OpenAPITransport) {
        self.transport = transport
    }

    ///
    /// Enum for parameter tp
    ///
    public enum HistoryEnergylatlatlonlonGetTp: String, Codable, CaseIterable {
        case hourly = "hourly"
        case daily = "daily"
        case monthly = "monthly"
    }
    ///
    /// Enum for parameter units
    ///
    public enum HistoryEnergylatlatlonlonGetUnits: String, Codable, CaseIterable {
        case s = "S"
        case i = "I"
    }

    /// Returns Energy API response  - Given a single lat/lon. 
    /// - GET /history/energy?lat={lat}&lon={lon}
    /// - Returns aggregate energy specific historical weather fields, over a specified time period.
    /// - parameter lat: (path) Latitude component of location. 
    /// - parameter lon: (path) Longitude component of location. 
    /// - parameter startDate: (query) Start Date (YYYY-MM-DD or YYYY-MM-DD:HH). 
    /// - parameter endDate: (query) End Date (YYYY-MM-DD or YYYY-MM-DD:HH). 
    /// - parameter key: (query) Your registered API key. 
    /// - parameter tp: (query) Time period to aggregate by (daily, monthly) (optional)
    /// - parameter threshold: (query) Temperature threshold to use to calculate degree days (default 18 C)  (optional)
    /// - parameter units: (query) Convert to units. Default Metric See &lt;a target&#x3D;&#39;blank&#39; href&#x3D;&#39;/api/requests&#39;&gt;units field description&lt;/a&gt; (optional)
    /// - parameter callback: (query) Wraps return in jsonp callback. Example: callback&#x3D;func (optional)
    /// - returns: AnyPublisher<EnergyObsGroup, Error> 
    open func historyEnergylatlatlonlonGet(lat: Double, lon: Double, startDate: String, endDate: String, key: String, tp: HistoryEnergylatlatlonlonGetTp? = nil, threshold: Double? = nil, units: HistoryEnergylatlatlonlonGetUnits? = nil, callback: String? = nil) -> AnyPublisher<EnergyObsGroup, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var path = "/history/energy?lat&#x3D;{lat}&amp;lon&#x3D;{lon}"
                path = path.replacingOccurrences(of: "{lat}", with: "\(lat)")
                path = path.replacingOccurrences(of: "{lon}", with: "\(lon)")
                let url = baseURL.appendingPathComponent(path)
                var components = URLComponents(url: url, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "start_date", value: startDate))
                queryItems.append(URLQueryItem(name: "end_date", value: endDate))
                if let tp = tp { queryItems.append(URLQueryItem(name: "tp", value: tp.rawValue)) } 
                if let threshold = threshold { queryItems.append(URLQueryItem(name: "threshold", value: "\(threshold)")) } 
                if let units = units { queryItems.append(URLQueryItem(name: "units", value: units.rawValue)) } 
                if let callback = callback { queryItems.append(URLQueryItem(name: "callback", value: callback)) } 
                queryItems.append(URLQueryItem(name: "key", value: key))
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<EnergyObsGroup, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(EnergyObsGroup.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }
}
